<div class= "container">
  <header class= "jumbotron">
    <h1>Super Blogging- A blog about blogging</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}I would love to hear from you!{{/link-to}}
  </footer>
</div>
